
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
}

/* Main Menu */

.main-menu {
  position: fixed;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  
  z-index: 31;
  
  background: #fff;
  
  transform: translateX(100%);
  transition: transform 300ms ease-out;
}

.main-menu.open-menu {
  transform: translateX(0);
}

/* Header Style */

.logo {
  position: fixed;
  top: 0;
  left: 50px;
}

.menu {
  position: fixed;
  top: 75px;
  right: 50px;
}

/* MAIN CONTENT STYLE */

.product-display {
  margin-top: 150px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}


@media (max-width: 1050px) {
  .product-display {
    flex-flow: column nowrap;
    align-items: center;
    padding: 25px;
  }
}

.product-img{
  flex-basis: 40%;
  text-align: center;
}

.product-details {
  flex-basis: 40%;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  
  padding: 25px;

  background-color: #E9E9E9;
}

@media (max-width: 1050px) {
  .product-details {
    flex-basis: 100%;
  }
}


.details-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.product-name {
  font-size: 3em;
  font-weight: lighter;
}

.product-details p {
  color: #464646;
  font-weight: normal;
  line-height: 1.5em;
  
  padding: 17px 0px;
}

.quantity-field {
  width: 50%;
  height: 50px;
  
  display: flex;
  justify-content: space-between;
}

.quantity-field button {
  width: 30%;
  background-color: #E9E9E9;
  font-size: 2em;
}

.quantity-field input{
  text-align: center;
  border: none;
}

.cta-pdp {
  width: 100%;
  
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  
  font-size: 1em;
  color: #4E4E4E;
  letter-spacing: 2px;
  
  border: 2px solid #4E4E4E;
  border-radius: 2px;
  padding: 17px 0px;
  
  margin-top: 10px;
  
  transition: all 300ms ease-in-out;
}

.cta-pdp:hover {
  background-color: #4E4E4E;
  color: whitesmoke;
}


