/* Main Menu */

.main-menu {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 65%;
  right: 0;
  bottom: 0;
  
  z-index: 31;
  
  background: #fff;
  
  transform: translateX(115%);
  transition: transform 300ms ease-out;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5,1fr);
  grid-gap: 25px;
  
  box-shadow: 0px 0px 5px rgba(0,0,0,.3);
}

@media (max-width:640px){
  .main-menu {
    left: 20%;
  }
  .menuItems {
    padding-left: 25px;
  }
}

.menuItems {

  list-style: none;
  margin: 0;
  
  grid-row: 2/5;
  padding-left: 25px;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.menuItems li a {
  display: inline-block;

  text-decoration: none;
  font-size: 1.5em;
  font-weight: 100;
  color: #707070;
  text-transform: uppercase;
}

.upperMenuItem{
  font-size: .4em;
  letter-spacing: 4px;
  font-weight: 300;
  
  color: #cc8759;
}

.patternHardy {
  background-image: url(images/patterns.svg);
  background-size: cover;
  
  grid-row: 5/6;
}

.main-menu button {
  border: 2px solid #664e4c;
  padding: 10px 20px;
  font-size: 1em;
  color: #664e4c;
  
  border-radius: 2px;
  
  transition: all 300ms ease-in-out;
}

.main-menu button:hover {
  background-color: #664e4c;
  color: white;
}


.main-menu.open-menu {
  transform: translateX(0);
}

/* Header Style */

.logo {
  position: fixed;
  top: 0;
  left: 25px;
}

.menu {
  text-align: right;
  
  position: fixed;
  top: 25px;
  right: 25px;
}

.menu img {
  width: 35%;
  transition: all 300ms ease-in-out;
}
.menu img:hover {
  opacity: .7;
}

header {
  position: fixed;
  top: 0;
  background-color: #F7F7F7;
  width: 100%;
  height: 150px;
  z-index: 20;
}

/* MAIN CONTENT */

.main-content-wrapper {
  margin-top: 200px;
}

h2,h3,h4 {
  margin: 0;
}

.projectPage {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    grid-row-gap: 25px;
}

@media (max-width: 1050px){
  .projectPage{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 900px){

}

@media (max-width: 640px){
  .projectPage{
    grid-template-columns: 1fr;
  }
}

.project-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border-radius: 2px;
  background-color: white;
}

.project-image img {
    width: 100%;
}

.project-details {
  padding: 25px;
}

.project-details h2 {
  font-size: 1.333em;
}

.project-owner {
  font-size: 1em;
  font-weight: normal;
  padding: 15px 0px;
  
  color: darkgrey;
}

.separator {
  width: 100%;
  height: 1px;
  
  background-color: darkgrey;
}

.project-subtitles {
  font-size: 1em;
  padding: 15px 0px;
}

.project-card p {
  margin: 0;
  color: #4E4E4E;
}

.project-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta {
  background-color: white;
  width: 100%;
  display: inline-block;
  border: 2px solid #4E4E4E;
  text-align: center;
  padding: 25px 0px;
  
  border-radius: 2px;
  
  font-size: 1em;
  font-weight: bolder;
  text-decoration: none;
  color: #4E4E4E;
  text-transform: uppercase;
  letter-spacing: 2px;
  
  margin-top: 50px;
  
  transition: all 300ms ease-in-out;
}

.cta:hover {
  
  background-color: #4E4E4E;
  color: white;
}

