* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  min-width: 100%;
  z-index: -1;
}

/* Header Style */

.logo {
  position: fixed;
  top: 0;
  left: 50px;
}

.menu {
  position: fixed;
  top: 75px;
  right: 50px;
}

/* Main */

.container {
  min-height: 100vh;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.main-heading {
  
  max-width: 700px;
  font-size: 3em;
  color: whitesmoke;
  font-weight: lighter;
  text-align: center;
}

.main-heading span {
  font-weight: bold
}

/* MEDIA QUERY : HEADING */

@media (max-width:1200px) {
  .main-heading {
    width: 90vw;
  }
}

@media (max-width:750px) {
  .main-heading {
    
    font-size: 2.5em;
    width: 90vw;
  }
}

/* CTA SECTION */

.call-to-action {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  
  
  margin-top: 50px;
}

.call-to-action :nth-child(2) {
  margin-left: 50px;
}

.cta {
  width: 310px;
  padding: 25px;
  text-align: center;
  
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid white;
  border-radius: 3px;
  
  letter-spacing: 2px;
}

.cta:hover {
  
  background-color: white;
  color: black;
  transition: all 300ms ease-in-out;
}

/* MEDIA QUERIES */
@media (max-width:750px) {
  .call-to-action {
    
      flex-flow: column nowrap;
      align-content: center;
  }
  
  .cta {
    margin: 0;
  }
  .call-to-action :nth-child(2) {
    margin: 50px 0 0 0;
  }
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    left: calc(50% - 10px);
    
    margin-bottom: 50px;
}

.button-down {
  transform: scale(2.5);
  color: ghostwhite;
  
  /* animation */
  
  animation-name: up-down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}

@keyframes up-down {
  0% {
    margin-bottom: 50px;
  }
  100% {
    margin-bottom: 25px;
  }
}